<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
		<link rel="stylesheet" type="text/css" href="/swiper/dist/css/swiper.min.css" />
	</head>

	<body>
		<header>
			<!--信息头部logo信息-->
			<div class="nav-header-top">
				<a href="https://m.baidu.com/" class="fl baidu-icon"></a>
				<a class="fl profile-icon"></a>
				<a class="fr subscribe-icon"></a>
				<a class="fr search-icon"></a>
			</div>
			<!--信息底部导航信息-->
			<div class="nav-header-bottom">
				<div class="all-top">
					<p class="lgrad"></p>
					<!--swiper-->
					<div id="topNav" class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="javascript:;">推荐</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">百家</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">社会</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">军事</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">娱乐</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">影视</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">国际</a>
							</div>

						</div>

					</div>

					<!--swiper结束-->
					<p class="rgrad"></p>
					<p><i class="list"></i></p>
				</div>
				<div class="all-botton mask">
					<ol class="change">
						<li>切换栏目</li>
					</ol>
					<ol class="change">
						<li>
							<a href="javascript:;">推荐</a>
						</li>
						<li>
							<a href="javascript:;">百家</a>
						</li>
						<li>
							<a href="javascript:;">社会</a>
						</li>
						<li>
							<a href="javascript:;">军事</a>
						</li>
						<li>
							<a href="javascript:;">娱乐</a>
						</li>
						<li>
							<a href="javascript:;">影视</a>
						</li>
					</ol>
					<ol class="change">
						<li>
							<a href="javascript:;">国际</a>
						</li>
						<li>
							<a href="javascript:;">互联网</a>
						</li>
						<li>
							<a href="javascript:;">科技</a>
						</li>
						<li>
							<a href="javascript:;">女人</a>
						</li>
					</ol>

					<span class="spa">&gt;</span>
				</div>

			</div>
		</header>
		
		<article>
			<!--轮播图的信息-->
            <div class="banner">
			<div class="swiper-container silder">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="/images/timg.jpg" /></div>
					<div class="swiper-slide"><img src="/images/timg2.jpg" /></div>
					<div class="swiper-slide"><img src="/images/timg3.jpg" /></div>
				</div>

			</div>
		   </div>
		   <!--数据的获取-->
			<div class="getdata">

			</div>

		</article>
	</body>
	<script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
	<script type="text/javascript" src='/swiper/dist/js/swiper.min.js'></script>
	<script type="text/javascript" src="javascripts/datainsert.js"></script>
	<script type="text/javascript" src="javascripts/index.js"></script>
	<script type="text/javascript" src='/moment/min/moment.min.js'></script>

</html>